/* Table header styling */
table th {
  background-color: #502E91;
  color: white;
  padding: 10px;
  border: .5px solid black;
}

/* Table body styling */
table td {
  background-color: #EBE3F3;
  color: black;
  padding: 10px;
  border: .5px solid black;
}

/* Remove the extra space to the right of content, where the toc would go. */
@media screen and (min-width: 60em) {
  .md-sidebar--secondary {
      display: none !important;
  }

  .md-sidebar--secondary:not([hidden]) {
      display: none !important;
  }
}

/* Remove double borders by collapsing them */
table {
  border-collapse: collapse;
  width: 100%;
}

h1 {
  color: #502E91 !important;
  font-weight: bold !important;
}
/* Markdown H2 headers (##) */
h2 {
  color: #502E91;
  font-weight: bold !important;
}

/* Markdown H3 headers (###) */
h3 {
  color: #0A2F40;
  font-weight: bold !important;

}

ol {
  list-style-type: decimal !important;
  margin-left: 1em;
}



/* Right floating ToC (if using Material theme) */
.md-sidebar__inner .md-nav__link {
  font-size: 14px !important; /* Adjust as needed */
}


/* Apply border only to the visible navigation block */
.md-nav {
  border-right: 1px solid #ddd;       /* Vertical line */
  padding-right: 0.5rem;
  margin-right: 1rem;
}
/* top banner colour */
.md-header {
  background-color: #502E91 !important;
}
/* footer colour */
.md-footer {
  background-color: #502E91 !important;
}

.md-footer-meta {
  display: flex;
  justify-content: space-between;
  color: white;
}

.md-footer-meta .md-footer-copyright {
  color: white;
}
.md-tabs {
  background-color: #9F7FC9;
}


